

 * {
     font-family: "BBSans Regular", Helvetica, Arial, sans-serif;

     /* border: 1px solid red */
 }

 #freeshipping {
     background-color: #eff0f0;
     height: 45px;
     width: 92%;
     display: flex;
     padding-left: 20px;
     align-items: center;
 }

 #line {
     width: 95%;
     background-color: black;
     height: 2px;
 }

 a {
     color: lightgray;

 }

 .button {
     background-color: black;
     color: white;
     height: 42px;
     width: 120px;
     margin-top: 150px;
     float: right;
 }

 #red {
     color: red;
     margin-top: 50px;
     margin-bottom: 50px;
 }

 #container {
     display: flex;
     height: auto;
     width: 50%;
 }


 #aboveProducts {
     display: flex;
     margin: auto;
     justify-content: space-evenly;

 }

 h1 {
     font-size: 15px;

 }

 #container {
     width: 90%;
     margin: auto;
     margin-top: 50px;
 }

 .box {
     width: 50%;
     /* height: 800px; */

 }

 #button2 {
     float: left;
     margin-left: 30px;
     margin: 30px
 }

 hr {
     margin-right: 20px;
 }

 #para {
     margin-top: 50px;
     margin-bottom: 20px;
 }

 select {
     width: 70%;
     height: 30px;
 }

 #prodimg {
     margin-left: 40px;
     width: 70%;
     height: 250px;
 }

 #box {
     display: flex;
 }

 #box2 {
     text-align: center;
     /* margin: auto; */
     /* display: flex; */
 }

 img+p {
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin-top: 50px; */
     margin-left: 50px;
 }

 #pricebox {

     display: flex;
     justify-content: end;
     align-items: center;

 }

 #total {
     margin: auto;
     /* border: 1px solid red; */
     display: flex;
     justify-content: end;
     align-items: flex-end;
     margin-right: 120px;
     font-weight: bold;

 }

 #longline {
     margin: auto;

     /* border: 1px solid red; */
     background-color: gray;
     width: 90%;
     height: 0.5px;
     margin-top: 40px;
     margin-bottom: 40px;
 }

 #footer {
     display: flex;
     width: 100%;
     height: 200px;
     background-color: black;
     /* margin-bottom: 0; */
 }

 #footercontainer1 {
     width: 50%;
     height: 200px;
     /* border: 1px solid red; */
     color: white;
     margin-top: 40px;
     margin-left: 10px;
     justify-content: end;
     align-items: flex-end;
 }

 #footercontainer2 {
     width: 25%;
     height: 200px;
     /* border: 1px solid red; */
     color: white;
     margin-top: 40px;
     margin-left: 10px;
 }

 #footercontainer3 {
     width: 25%;
     height: 200px;
     /* border: 1px solid red; */
     color: white;
     margin-top: 40px;
     margin-left: 10px;
 }

 #footercontainer3>img:first-child {
     width: 30%;

     display: block;
     /* margin-bottom: 20px; */
     margin: auto;
     padding-left: 60px;

 }

 #footercontainer3>img:nth-child(2) {
     width: 20%;
     display: block;
     padding-top: 30px;
     padding-left: 60px;
     margin: auto;
 }

 body {
     margin: 0;
 }

 #navbar {
     background-color: black;
     height: 185px;
 }

 #navbar1stcont {
     /* border: 1px solid red; */
     height: 120px;
     display: flex;
     margin-right: 40px;
 }

 #navbar1stcont>div {
     color: white;
     margin: 30px;
     margin-right: 0;


 }

 #navbar1stcont>img {
     width: 25%;
     margin: auto;
     height: 40px;


 }

 #navbar2ndcont {
     border: 1px solid red;
     height: 60px;
     display: flex;
     /* justify-content: center; */
     align-items: center;

 }

 #rightheader {
     display: flex;
     /* color: white; */
     font-size: 10px;
     text-align: center;

 }

 h2,
 h4 {
     margin-top: 20px;

     /* display: flex; */
     font-size: 12px;
     color: white;
 }

 h4 {
     margin: 0px 20px
 }

 input {
     margin-left: 50px;
     margin-right: 50px;
     /* text-decoration: none; */
     border: 0;
     outline: 0;
     color: white;
     font-weight: bold;

     border-width: 3px;
     background: transparent;
     border-bottom: 1px solid white;
 }

 #rightheader>img {
     /* width: 10%; */
     width: 20px;
     margin: 0px 10px;

 }
 .icon {
     padding: 0;
    margin-left: 45px;
    /* margin-top: 45px; */
     color: white;
 /* border: 1px solid red; */
     
 }

 #search{
     width: 280px;
     /* border: 1px solid red; */
 }
   
 /* .input-field {
     width: 100%;
     padding: 10px;
     text-align: center;
     color: white;
 } */
